<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>IGTIFlix</title>
    <link href="{% static 'css/menu.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/crud.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
{% include "../menu.html" %}
<main>
    <div class="container">
        <div class="divForm">
            <form onsubmit="/genero" id="form-genero" method="post">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Alterar" id="submit-button">
            </form>
        </div>
    </div>
</main>
</body>
</html>